footer
	.container
		ul.list-inline
			li
				a(href="http://www.hbpu.edu.cn/", target="_blank") 湖北理工学院
			li
				a(href="http://tieba.baidu.com/f?kw=%BA%FE%B1%B1%C0%ED%B9%A4%D1%A7%D4%BA&fr=ala0&tpl=5", target="_blank") 贴吧
			li
				a(href="https://weibo.com/zhanzhilin/home?wvr=5&lf=reg", target="_blank") 微博
			li
				a(href="/about") 关于
		p 本毕业设计项目源码受
			a(rel="license",href="https://github.com/twbs/bootstrap/blob/master/LICENSE",target="_blank") MIT
			| 开源协议保护.
		p Designed and built with all the love in the world by
			a(href="https://github.com/Colinnnnnnn", target="_blank") @詹智林.
