nav.navbar.navbar-default
	.container
		ul.nav.navbar-nav(style="margin-left:-15px;")
			if route == 'index'
				li.active
					a(href="javascript:;") 首页
			else
				li
					a(href="/") 首页
			if route == 'list'
				li.active
					a(href="#") 电影
			else
				li
					a(href="/list") 电影
			if route == 'douban'
				li.active
					a(href="javascript:;") 豆瓣TOP250
			else
				li
					a(href="/douban") 豆瓣TOP250
			if route == 'about'
				li.active
					a(href="javascript:;") 关于
			else
				li
					a(href="/about") 关于

		if user && user.role >= 10
			ul.nav.navbar-nav.pull-right
				if route == 'adminmovie'
					li.active
						a(href="javascript:;") 新增
				else
					li
						a(href="/admin/movie/new") 新增
				if route == 'adminlist'
					li.active
						a(href="javascript:;") 电影列表
				else
					li
						a(href="/admin/movie/list") 电影列表
				if user.role > 10
					if route == 'adminuser'
						li.active
							a(href="javascript:;") 用户管理
					else
						li
							a(href="/admin/user/list") 用户管理
